In [1]:
import pandas as pd

# Load just first 5 rows to peek at the data
df = pd.read_csv('/Users/jadaihekwoaba/Desktop/housing-prediction/data/raw/Real_acct_owner/real_acct.txt', 
                 sep='\t', 
                 nrows=5)

# Show the data
print("Column names:")
print(df.columns.tolist())
print("\nFirst few rows:")
df.head()

Column names:
['acct', 'yr', 'mailto', 'mail_addr_1', 'mail_addr_2', 'mail_city', 'mail_state', 'mail_zip', 'mail_country', 'undeliverable', 'str_pfx', 'str_num', 'str_num_sfx', 'str', 'str_sfx', 'str_sfx_dir', 'str_unit', 'site_addr_1', 'site_addr_2', 'site_addr_3', 'state_class', 'school_dist', 'map_facet', 'key_map', 'Neighborhood_Code', 'Neighborhood_Grp', 'Market_Area_1', 'Market_Area_1_Dscr', 'Market_Area_2', 'Market_Area_2_Dscr', 'econ_area', 'econ_bld_class', 'center_code', 'yr_impr', 'yr_annexed', 'splt_dt', 'dsc_cd', 'nxt_bld', 'bld_ar', 'land_ar', 'acreage', 'Cap_acct', 'shared_cad', 'land_val', 'bld_val', 'x_features_val', 'ag_val', 'assessed_val', 'tot_appr_val', 'tot_mkt_val', 'prior_land_val', 'prior_bld_val', 'prior_x_features_val', 'prior_ag_val', 'prior_tot_appr_val', 'prior_tot_mkt_val', 'new_construction_val', 'tot_rcn_val', 'value_status', 'noticed', 'notice_dt', 'protested', 'certified_date', 'rev_dt', 'rev_by', 'new_own_dt', 'lgl_1', 'lgl_2', 'lgl_3', 'lgl_4', 'jurs']

First few rows:

,acct,yr,mailto,mail_addr_1,mail_addr_2,mail_city,mail_state,mail_zip,mail_country,undeliverable,...,protested,certified_date,rev_dt,rev_by,new_own_dt,lgl_1,lgl_2,lgl_3,lgl_4,jurs
0,10010000013,2025,CITY OF HOUSTON,PO BOX 1562,,HOUSTON,TX,77251-1562,,N,...,N,08/22/2025,01/01/2016,1391,01/02/1988,ALL BLK 1,SSBB,NaN,NaN,001 040 041 042 043 044 048 061 265 268 576
1,10020000001,2025,CURRENT OWNER,1717 SAINT JAMES PLACE STE 112,,HOUSTON,TX,77056-3412,,N,...,Y,10/10/2025,03/08/2023,1710,10/31/2012,TR 15 BLK 2,SSBB,NaN,NaN,001 040 041 042 043 044 048 061 265 268 576
2,10020000003,2025,MILBY CHARLES FAMILY PTNSH,2612 TODVILLE RD,,SEABROOK,TX,77586-3008,,N,...,Y,07/25/2025,05/03/2024,1741,01/02/1988,.500 U/D INT IN TR 14 BLK 2,SSBB,NaN,NaN,001 040 041 042 043 044 048 061 265 268 576
3,10020000004,2025,MICHAEL RYAN FEAGIN TRUST,3302 SUFFOLK DR,,HOUSTON,TX,77027-6326,,N,...,Y,07/25/2025,06/20/2024,1329,01/02/1996,.25 U/D INT IN TR 14 BLK 2,SSBB,NaN,NaN,001 040 041 042 043 044 048 061 265 268 576
4,10020000013,2025,BUFFALO BAYOU PARTNERSHIP,1019 COMMERCE ST STE 200,,HOUSTON,TX,77002-1701,,N,...,Y,07/11/2025,11/22/1995,180,12/29/1999,TR 13 BLK 2,SSBB,NaN,NaN,001 040 041 042 043 044 048 061 265 268 576

In [2]:
df

,acct,yr,mailto,mail_addr_1,mail_addr_2,mail_city,mail_state,mail_zip,mail_country,undeliverable,...,protested,certified_date,rev_dt,rev_by,new_own_dt,lgl_1,lgl_2,lgl_3,lgl_4,jurs
0,10010000013,2025,CITY OF HOUSTON,PO BOX 1562,,HOUSTON,TX,77251-1562,,N,...,N,08/22/2025,01/01/2016,1391,01/02/1988,ALL BLK 1,SSBB,NaN,NaN,001 040 041 042 043 044 048 061 265 268 576
1,10020000001,2025,CURRENT OWNER,1717 SAINT JAMES PLACE STE 112,,HOUSTON,TX,77056-3412,,N,...,Y,10/10/2025,03/08/2023,1710,10/31/2012,TR 15 BLK 2,SSBB,NaN,NaN,001 040 041 042 043 044 048 061 265 268 576
2,10020000003,2025,MILBY CHARLES FAMILY PTNSH,2612 TODVILLE RD,,SEABROOK,TX,77586-3008,,N,...,Y,07/25/2025,05/03/2024,1741,01/02/1988,.500 U/D INT IN TR 14 BLK 2,SSBB,NaN,NaN,001 040 041 042 043 044 048 061 265 268 576
3,10020000004,2025,MICHAEL RYAN FEAGIN TRUST,3302 SUFFOLK DR,,HOUSTON,TX,77027-6326,,N,...,Y,07/25/2025,06/20/2024,1329,01/02/1996,.25 U/D INT IN TR 14 BLK 2,SSBB,NaN,NaN,001 040 041 042 043 044 048 061 265 268 576
4,10020000013,2025,BUFFALO BAYOU PARTNERSHIP,1019 COMMERCE ST STE 200,,HOUSTON,TX,77002-1701,,N,...,Y,07/11/2025,11/22/1995,180,12/29/1999,TR 13 BLK 2,SSBB,NaN,NaN,001 040 041 042 043 044 048 061 265 268 576

In [3]:
# Load first 100 rows to see variety
df = pd.read_csv('/Users/jadaihekwoaba/Desktop/housing-prediction/data/raw/Real_acct_owner/real_acct.txt', 
                 sep='\t', 
                 nrows=100)

# Look at just the address and value columns
df[['acct', 'site_addr_1', 'site_addr_2', 'site_addr_3', 'state_class', 'Neighborhood_Code', 'tot_appr_val']].head(20)

,acct,site_addr_1,site_addr_2,site_addr_3,state_class,Neighborhood_Code,tot_appr_val
0,10010000013,0 COMMERCE ST,HOUSTON,77002,X1,5900.05,0
1,10020000001,907 COMMERCE ST,HOUSTON,77002,F1,5900.05,309190
2,10020000003,0 COMMERCE ST,HOUSTON,77002,F1,5900.05,893355
3,10020000004,0 COMMERCE ST,HOUSTON,77002,F1,5900.05,446677
4,10020000013,921 COMMERCE ST,HOUSTON,77002,X1,5900.05,0
5,10020000015,909 COMMERCE ST,HOUSTON,77002,X1,5900.05,0
6,10020000016,901 COMMERCE ST,HOUSTON,77002,F1,5900.05,3232977
7,10020000023,0 MAIN ST,HOUSTON,77002,X1,5900.05,0
8,10020000024,0 COMMERCE ST,HOUSTON,77002,F1,5900.05,446677
9,10030000001,1019 COMMERCE ST,HOUSTON,77002,X1,5900.06,0
10,10030000008,0 FANNIN ST,HOUSTON,77002,X1,5900.06,0
11,10030000015,1005 COMMERCE ST,HOUSTON,77002,X1,5900.06,0
12,10030000016,1019 COMMERCE ST,HOUSTON,77002,X1,5900.06,0
13,10030000017,0 COMMERCE ST,HOUSTON,77002,X1,5900.06,0
14,10040000001,1119 COMMERCE ST,HOUSTON,77002,X1,5900.06,0
15,10040000004,0 FANNIN ST,HOUSTON,77002,X1,5900.06,0
16,10050000004,1201 COMMERCE ST,HOUSTON,77002,X1,5900.06,0
17,10050000020,1301 COMMERCE ST,HOUSTON,77002,X1,5900.06,0
18,10060000010,1301 COMMERCE ST,HOUSTON,77002,X1,5900.06,0
19,10070000013,1401 COMMERCE ST,HOUSTON,77002,F1,5900.07,2410081

In [4]:
# Load the FULL file now (this might take 30 seconds)
print("Loading full dataset...")
df_full = pd.read_csv('/Users/jadaihekwoaba/Desktop/housing-prediction/data/raw/Real_acct_owner/real_acct.txt', 
                      sep='\t')

print(f"Total properties: {len(df_full)}")

# Filter to Oak Forest ZIP codes
oak_forest_zips = ['77018', '77009', '77008']
df_oak = df_full[df_full['site_addr_3'].isin(oak_forest_zips)]

print(f"Properties in Oak Forest area ZIPs: {len(df_oak)}")

# Filter to only residential (A1)
df_residential = df_oak[df_oak['state_class'] == 'A1']

print(f"Residential properties in Oak Forest: {len(df_residential)}")

# Look at first few
df_residential[['acct', 'site_addr_1', 'site_addr_2', 'site_addr_3', 'tot_appr_val', 'Neighborhood_Code']].head(10)

Loading full dataset...

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa5 in position 150122: invalid start byte

In [5]:
# Load the FULL file with Latin-1 encoding
print("Loading full dataset...")
df_full = pd.read_csv('/Users/jadaihekwoaba/Desktop/housing-prediction/data/raw/Real_acct_owner/real_acct.txt', 
                      sep='\t',
                      encoding='latin1',  # This handles special characters
                      low_memory=False)   # Prevents warnings

print(f"Total properties: {len(df_full)}")

# Filter to Oak Forest ZIP codes
oak_forest_zips = ['77018', '77009', '77008']
df_oak = df_full[df_full['site_addr_3'].isin(oak_forest_zips)]

print(f"Properties in Oak Forest area ZIPs: {len(df_oak)}")

# Filter to only residential (A1)
df_residential = df_oak[df_oak['state_class'] == 'A1']

print(f"Residential properties in Oak Forest: {len(df_residential)}")

# Look at first few
df_residential[['acct', 'site_addr_1', 'site_addr_2', 'site_addr_3', 'tot_appr_val', 'Neighborhood_Code']].head(10)

Loading full dataset...

ParserError: Error tokenizing data. C error: Expected 71 fields in line 1468471, saw 72

In [6]:
# Load with error handling for messy data
print("Loading full dataset...")
df_full = pd.read_csv('/Users/jadaihekwoaba/Desktop/housing-prediction/data/raw/Real_acct_owner/real_acct.txt', 
                      sep='\t',
                      encoding='latin1',
                      low_memory=False,
                      on_bad_lines='skip')  # Skip problematic rows

print(f"Total properties: {len(df_full)}")

# Filter to Oak Forest ZIP codes
oak_forest_zips = ['77018', '77009', '77008']
df_oak = df_full[df_full['site_addr_3'].isin(oak_forest_zips)]

print(f"Properties in Oak Forest area ZIPs: {len(df_oak)}")

# Filter to only residential (A1)
df_residential = df_oak[df_oak['state_class'] == 'A1']

print(f"Residential properties in Oak Forest: {len(df_residential)}")

# Look at first few
df_residential[['acct', 'site_addr_1', 'site_addr_2', 'site_addr_3', 'tot_appr_val', 'Neighborhood_Code']].head(10)

Loading full dataset...
Total properties: 1601691
Properties in Oak Forest area ZIPs: 47895
Residential properties in Oak Forest: 36492

,acct,site_addr_1,site_addr_2,site_addr_3,tot_appr_val,Neighborhood_Code
1835,31580000007,609 BURNETT ST,HOUSTON,77009,194354.0,7080.0
1836,31580000008,1505 FREEMAN ST,HOUSTON,77009,342370.0,7080.0
1837,31580000009,1507 FREEMAN ST,HOUSTON,77009,180000.0,7080.0
1838,31580000010,1509 FREEMAN ST,HOUSTON,77009,150000.0,7080.0
1840,31580000014,607 BURNETT ST,HOUSTON,77009,238471.0,7080.0
1841,31580000015,611 BURNETT ST,HOUSTON,77009,303600.0,7080.0
1842,31580000016,1511 FREEMAN ST,HOUSTON,77009,150000.0,7080.0
1843,31580000017,616 BROOKS ST,HOUSTON,77009,227316.0,7080.0
1845,31590000002,1518 FREEMAN ST,HOUSTON,77009,230000.0,7080.0
1846,31590000003,1516 FREEMAN ST,HOUSTON,77009,239699.0,7080.0

In [7]:
# Save the filtered residential data
df_residential.to_csv('/Users/jadaihekwoaba/Desktop/housing-prediction/data/processed/oak_forest_residential.csv', 
                      index=False)

print("Saved filtered data!")
print(f"File has {len(df_residential)} properties")

Saved filtered data!
File has 36492 properties

In [8]:
# Load building details
print("Loading building data...")
df_building = pd.read_csv('/Users/jadaihekwoaba/Desktop/housing-prediction/data/raw/Real_building_land/building_res.txt',
                          sep='\t',
                          encoding='latin1',
                          low_memory=False,
                          on_bad_lines='skip')

print(f"Total building records: {len(df_building)}")

# Show columns
print("Building columns:")
print(df_building.columns.tolist())

Loading building data...
Total building records: 1300864
Building columns:
['acct', 'property_use_cd', 'bld_num', 'impr_tp', 'impr_mdl_cd', 'structure', 'structure_dscr', 'dpr_val', 'cama_replacement_cost', 'accrued_depr_pct', 'qa_cd', 'dscr', 'date_erected', 'eff', 'yr_remodel', 'yr_roll', 'appr_by', 'appr_dt', 'notes', 'im_sq_ft', 'act_ar', 'heat_ar', 'gross_ar', 'eff_ar', 'base_ar', 'perimeter', 'pct', 'bld_adj', 'rcnld', 'size_index', 'lump_sum_adj']

In [9]:
# Filter building data to only accounts in your residential dataset
residential_accounts = df_residential['acct'].unique()
df_building_filtered = df_building[df_building['acct'].isin(residential_accounts)]

print(f"Building records for Oak Forest: {len(df_building_filtered)}")

# Merge the two datasets
df_merged = df_residential.merge(df_building_filtered, on='acct', how='left')

print(f"Merged dataset: {len(df_merged)} rows")

# Look at key columns
df_merged[['acct', 'site_addr_1', 'site_addr_3', 'tot_appr_val', 'im_sq_ft', 'date_erected', 'Neighborhood_Code']].head(10)

Building records for Oak Forest: 39458
Merged dataset: 39486 rows

,acct,site_addr_1,site_addr_3,tot_appr_val,im_sq_ft,date_erected,Neighborhood_Code
0,31580000007,609 BURNETT ST,77009,194354.0,836.0,1935.0,7080.0
1,31580000008,1505 FREEMAN ST,77009,342370.0,1352.0,2017.0,7080.0
2,31580000009,1507 FREEMAN ST,77009,180000.0,722.0,1925.0,7080.0
3,31580000009,1507 FREEMAN ST,77009,180000.0,759.0,1945.0,7080.0
4,31580000010,1509 FREEMAN ST,77009,150000.0,644.0,1935.0,7080.0
5,31580000014,607 BURNETT ST,77009,238471.0,434.0,2016.0,7080.0
6,31580000015,611 BURNETT ST,77009,303600.0,1528.0,2017.0,7080.0
7,31580000016,1511 FREEMAN ST,77009,150000.0,669.0,1935.0,7080.0
8,31580000017,616 BROOKS ST,77009,227316.0,1116.0,1935.0,7080.0
9,31590000002,1518 FREEMAN ST,77009,230000.0,1072.0,1900.0,7080.0

In [10]:
# Basic statistics
print("=== DATA SUMMARY ===")
print(f"\nTotal properties: {len(df_merged)}")

print("\n=== PROPERTY VALUES ===")
print(df_merged['tot_appr_val'].describe())

print("\n=== SQUARE FOOTAGE ===")
print(df_merged['im_sq_ft'].describe())

print("\n=== YEAR BUILT ===")
print(df_merged['date_erected'].describe())

# Check for missing data
print("\n=== MISSING DATA ===")
print(df_merged[['tot_appr_val', 'im_sq_ft', 'date_erected']].isnull().sum())

# Check for zeros (properties with no value or sqft)
print("\n=== ZERO VALUES ===")
print(f"Properties with $0 value: {(df_merged['tot_appr_val'] == 0).sum()}")
print(f"Properties with 0 sqft: {(df_merged['im_sq_ft'] == 0).sum()}")

=== DATA SUMMARY ===

Total properties: 39486

=== PROPERTY VALUES ===
count    3.947300e+04
mean     6.177832e+05
std      3.615408e+05
min      4.029200e+04
25%      3.894300e+05
50%      5.282940e+05
75%      7.370000e+05
max      1.395386e+07
Name: tot_appr_val, dtype: float64

=== SQUARE FOOTAGE ===
count    39458.000000
mean      1932.326626
std        918.308230
min          0.000000
25%       1260.000000
50%       1819.000000
75%       2404.000000
max      19941.000000
Name: im_sq_ft, dtype: float64

=== YEAR BUILT ===
count    39458.000000
mean      1973.561382
std         37.885915
min       1875.000000
25%       1940.000000
50%       1962.000000
75%       2014.000000
max       2025.000000
Name: date_erected, dtype: float64

=== MISSING DATA ===
tot_appr_val    13
im_sq_ft        28
date_erected    28
dtype: int64

=== ZERO VALUES ===
Properties with $0 value: 0
Properties with 0 sqft: 3

In [19]:
# Make a copy to clean
df_clean = df_merged.copy()

print(f"Starting with: {len(df_clean)} properties")

# Remove properties with missing critical data
df_clean = df_clean.dropna(subset=['tot_appr_val', 'im_sq_ft', 'date_erected'])
print(f"After removing missing data: {len(df_clean)}")

# Remove properties with 0 or unreasonable sqft
df_clean = df_clean[(df_clean['im_sq_ft'] > 300) & (df_clean['im_sq_ft'] < 10000)]
print(f"After removing bad sqft: {len(df_clean)}")

# Remove properties with unreasonable values (likely errors or commercial)
df_clean = df_clean[(df_clean['tot_appr_val'] > 50000) & (df_clean['tot_appr_val'] < 3000000)]
print(f"After removing outlier values: {len(df_clean)}")

# Create additional features
df_clean['property_age'] = 2025 - df_clean['date_erected']
df_clean['price_per_sqft'] = df_clean['tot_appr_val'] / df_clean['im_sq_ft']

print(f"\n=== FINAL CLEAN DATASET ===")
print(f"Total properties: {len(df_clean)}")
print(f"\nPrice per sqft stats:")
print(df_clean['price_per_sqft'].describe())

# Save the clean data
df_clean.to_csv('/Users/jadaihekwoaba/Desktop/housing-prediction/data/processed/oak_forest_clean.csv', 
                index=False)
print("\Saved clean data")

Starting with: 39486 properties
After removing missing data: 39445
After removing bad sqft: 39397
After removing outlier values: 39380

=== FINAL CLEAN DATASET ===
Total properties: 39380

Price per sqft stats:
count    39380.000000
mean       371.277309
std        338.815505
min         31.660633
25%        220.711100
50%        290.164466
75%        390.984163
max       5672.587121
Name: price_per_sqft, dtype: float64
\Saved clean data

In [12]:
# List all the building files you have
import os

building_files = os.listdir('/Users/jadaihekwoaba/Desktop/housing-prediction/data/raw/Real_building_land/')
print("Available building files:")
for f in building_files:
    print(f"  - {f}")

Available building files:
  - building_res.txt
  - structural_elem2.txt
  - exterior.txt
  - structural_elem1.txt
  - fixtures.txt
  - land.txt
  - building_other.txt
  - extra_features_detail2.txt
  - extra_features_detail1.txt
  - land_ag.txt
  - extra_features.txt

In [13]:
# Load fixtures file
print("Loading fixtures data...")
df_fixtures = pd.read_csv('/Users/jadaihekwoaba/Desktop/housing-prediction/data/raw/Real_building_land/fixtures.txt',
                          sep='\t',
                          encoding='latin1',
                          low_memory=False,
                          on_bad_lines='skip',
                          nrows=100)  # Just sample first

print("Fixtures columns:")
print(df_fixtures.columns.tolist())
print("\nSample data:")
print(df_fixtures.head())

Loading fixtures data...
Fixtures columns:
['acct', 'bld_num', 'type', 'type_dscr', 'units']

Sample data:
          acct  bld_num  type                type_dscr  units
0  10020000016        1  EL3      Elev:  Hydro / Frght    1.0
1  10020000016        1  INT   Interior Finish Percent  100.0
2  10020000016        1  WH                Wall Height   12.0
3  10040000001        1  INT   Interior Finish Percent  100.0
4  10040000001        1  OD2      OH Door:  Roll Steel    2.0

In [14]:
# Load extra features
print("\nLoading extra features...")
df_extra = pd.read_csv('/Users/jadaihekwoaba/Desktop/housing-prediction/data/raw/Real_building_land/extra_features.txt',
                       sep='\t',
                       encoding='latin1',
                       low_memory=False,
                       on_bad_lines='skip',
                       nrows=100)

print("Extra features columns:")
print(df_extra.columns.tolist())
print("\nSample data:")
print(df_extra.head())

Loading extra features...
Extra features columns:
['acct', 'bld_num', 'count', 'grade', 'cd', 's_dscr', 'l_dscr', 'cat', 'dscr', 'note', 'uts']

Sample data:
          acct  bld_num  count  grade      cd   s_dscr                l_dscr  \
0  10020000001        0      1      4  CPA1     PavAsp      Paving - Asphalt
1  10020000013        0      1      4  CPA1     PavAsp      Paving - Asphalt
2  10020000015        0      1      4  CPA1     PavAsp      Paving - Asphalt
3  10020000016        1      1      4  CCP6     CpRfSl  CANOPY ROOF AND SLAB
4  10040000001        1      5      4  CEN5    Enclos5    Enclosure,  Retail

      cat           dscr          note     uts
0  MS      Miscellaneous  NEW FOR 2018  5000.0
1  MS      Miscellaneous                3000.0
2  MS      Miscellaneous                1250.0
3  MS      Miscellaneous                1504.0
4  MS      Miscellaneous                5880.0

In [15]:
# Load full fixtures file
print("Loading fixtures data...")
df_fixtures_full = pd.read_csv('/Users/jadaihekwoaba/Desktop/housing-prediction/data/raw/Real_building_land/fixtures.txt',
                               sep='\t',
                               encoding='latin1',
                               low_memory=False,
                               on_bad_lines='skip')

print(f"Total fixture records: {len(df_fixtures_full)}")

# Filter to only Oak Forest accounts
df_fixtures_oak = df_fixtures_full[df_fixtures_full['acct'].isin(residential_accounts)]
print(f"Fixture records for Oak Forest: {len(df_fixtures_oak)}")

# Look for bedroom/bathroom codes
bed_bath_codes = ['RMB', 'RMF', 'RMH', 'RMT', 'RMR']
df_rooms = df_fixtures_oak[df_fixtures_oak['type'].isin(bed_bath_codes)]

print(f"\nRoom records found: {len(df_rooms)}")
print("\nSample room data:")
df_rooms[['acct', 'type', 'type_dscr', 'units']].head(20)

Loading fixtures data...
Total fixture records: 8040556
Fixture records for Oak Forest: 220222

Room records found: 0

Sample room data:

Empty DataFrame
Columns: [acct, type, type_dscr, units]
Index: []

In [16]:
# Check extra_features_detail1.txt
print("Checking extra_features_detail1...")
df_extra_detail1 = pd.read_csv('/Users/jadaihekwoaba/Desktop/housing-prediction/data/raw/Real_building_land/extra_features_detail1.txt',
                               sep='\t',
                               encoding='latin1',
                               low_memory=False,
                               on_bad_lines='skip',
                               nrows=100)

print("Columns:")
print(df_extra_detail1.columns.tolist())
print("\nSample:")
print(df_extra_detail1.head(10))

# Look for room codes
if 'cd' in df_extra_detail1.columns:
    room_codes = df_extra_detail1[df_extra_detail1['cd'].isin(['RMB', 'RMF', 'RMH', 'RMT'])]
    print(f"\nFound {len(room_codes)} room records in detail1")

Checking extra_features_detail1...
Columns:
['acct', 'cd', 'dscr', 'grade', 'cond_cd', 'bld_num', 'length', 'width', 'units', 'unit_price', 'adj_unit_price', 'pct_comp', 'act_yr', 'eff_yr', 'roll_yr', 'DT', 'pct_cond', 'dpr_val', 'note', 'asd_val']

Sample:
          acct      cd                                      dscr  grade  \
0  20720000014  RRP5                                 Gunite Pool      4
1  21440000001  RRS1                          Frame Utility Shed      4
2  21440000001  RRS1                          Frame Utility Shed      4
3  21480000001  RRG1                       Frame Detached Garage      5
4  21480000002  ROGV               Residential Other Gross Value      4
5  21520000004  RRG2              Brick or Stone Detached Garage      4
6  21650000007  RRP5                                 Gunite Pool      4
7  21660000012  RRG3    Frame Detached Garage w/living area abov      3
8  21700000013  RRG1                       Frame Detached Garage      5
9  21870000006  RCS0               Cracked Beam - Crawl Repaired      4

  cond_cd  bld_num  length  width  units  unit_price  adj_unit_price  \
0      A         0      21     11  231.0       40.00         76.4000
1      A         0      10     11  110.0       17.50         17.5000
2      A         0      13     10  130.0       17.50         17.5000
3      F         0      30     28  840.0       22.81         18.1476
4      A         1       0      0    0.5     1000.00       1000.0000
5      A         0      28     24  672.0       28.75         33.0625
6      A         0      16     23  368.0       40.00         59.6000
7      A         0      38     21  798.0       47.50         63.4410
8      P         0      15     15  225.0       22.81         26.8656
9      A         2       0      0  600.0        0.00          0.0000

   pct_comp  act_yr  eff_yr  roll_yr      DT  pct_cond  dpr_val  \
0       1.0    2021    2021     2022    X2A       0.65    11471
1       1.0    2014    2014     2015    X1A       0.45      866
2       1.0    2014    2014     2016    X1A       0.45     1024
3       1.0    2004    2004     2005    X3F       0.49     7470
4       1.0    1917    1917     1918  X100A       1.00      500
5       1.0    1999    1999     2014    X3A       0.54    11998
6       1.0    2015    2015     2016    X2A       0.35     7676
7       1.0    2017    2017     2018    X3A       0.76    38476
8       1.0    1940    1940     1941    X3P       0.20     1209
9       1.0    1940    1940     1941  X100A       1.00        0

             note  asd_val
0                    11471
1                      866
2                     1024
3                     7470
4  SALV GAR APMT.      500
5                    11998
6                     7676
7                    38476
8                     1209
9                        0

Found 0 room records in detail1

In [17]:
# Check extra_features_detail2.txt
print("Checking extra_features_detail2...")
df_extra_detail2 = pd.read_csv('/Users/jadaihekwoaba/Desktop/housing-prediction/data/raw/Real_building_land/extra_features_detail2.txt',
                               sep='\t',
                               encoding='latin1',
                               low_memory=False,
                               on_bad_lines='skip',
                               nrows=1000)  # Check more rows

print("Columns:")
print(df_extra_detail2.columns.tolist())

# Look for room codes
if 'cd' in df_extra_detail2.columns:
    print("\nSearching for room codes (RMB, RMF, RMH, RMT)...")
    room_codes = df_extra_detail2[df_extra_detail2['cd'].isin(['RMB', 'RMF', 'RMH', 'RMT', 'RMR'])]
    print(f"Found {len(room_codes)} room records")
    if len(room_codes) > 0:
        print("\nSample room data:")
        print(room_codes.head(20))
    else:
        # Show what codes ARE in there
        print("\nCodes found in detail2 (first 50):")
        print(df_extra_detail2['cd'].value_counts().head(50))

Checking extra_features_detail2...
Columns:
['acct', 'cd', 'dscr', 'grade', 'cond_cd', 'bld_num', 'length', 'width', 'units', 'unit_price', 'adj_unit_price', 'pct_comp', 'act_yr', 'eff_yr', 'roll_yr', 'DT', 'pct_cond', 'dpr_val', 'note', 'asd_val']

Searching for room codes (RMB, RMF, RMH, RMT)...
Found 0 room records

Codes found in detail2 (first 50):
cd
CPA1      173
CCP6       87
CSS1       62
CPC2       62
CBS2       45
COGV       38
CRP1       38
CPC1       37
CBS1       33
CCP5       33
CBS5       29
CRP3       24
CEN6       23
CPH3       22
CDL1       22
CPL3       18
CBSB       17
CBS9       17
CEN5       17
CPH2       14
CLD1       12
CSC1       10
CPL7        9
CRP4        8
CRS1        7
CRP2        7
CPL6        6
CPA2        6
CEN4        6
CBSA        6
MZ84        6
CRC1        6
CAC1        5
CRS2        5
MZ82        5
CBC1        4
CAW1        4
CSH5        4
CRS3        4
CBS4        4
CSM5        3
CLD4        3
CLD3        3
CRG4        3
CSG1        3
MZ83        3
CBS8        3
MZ53        3
MZ90        2
CLD6        2
Name: count, dtype: int64

In [18]:
# Check if property_use_cd is in your merged data
if 'property_use_cd' in df_clean.columns:
    print("Property type distribution:")
    print(df_clean['property_use_cd'].value_counts())
else:
    print("property_use_cd not in merged data, need to check building file")
    # Check building file
    print("\nProperty types in building data:")
    print(df_building_filtered['property_use_cd'].value_counts())

Property type distribution:
property_use_cd
A1    39380
Name: count, dtype: int64